.login {
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    justify-content: center;
    background: linear-gradient(rgba(255, 255, 255, 0.5),
            rgba(255, 255, 255, 0.5)),
        url("../../images/bgrd.jpg");
    background-size: cover;
}

.loginContainer {
    width: 20%;
    height: 70%;
}

.loginTitle {
    font-size: 50px;
    font-weight: 200;
    width: 100%;
    text-align: center;
}

.loginForm {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.loginForm>label {
    margin: 10px 0;
}

.loginInput {
    padding: 10px;
    background-color: white;
    border: none;
    border-radius: 10px;
}

.loginInput:focus {
    outline: none;
}

.loginButton {
    margin-top: 20px;
    cursor: pointer;
    background-color: lightcoral;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    text-align: center;
}

.loginButton:hover {
    background-color: rgb(239, 91, 91);
}

.loginRegisterButton {
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: teal;
    cursor: pointer;
    padding: 10px;
    border: none;
    color: white;
    border-radius: 10px;
}

.loginRegisterButton:hover {
    background-color: rgb(1, 93, 93);
}